.harmburger .line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  border-radius: 8px;
}

.onScroll {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  border-radius: 8px;
}

.harmburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .harmburger .line {
    background-color: #ffdccc;
  }
}