nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
  position: fixed;
  z-index: 10;
  width: 100%;
}

nav .logo {
  font-size: 1.6rem;
  font-weight: 500;
  color: #00120b;
  font-weight: 'Poppins', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav ul li {
  font-size: 1rem;
  font-family: 'Arima Madurai', cursive;
}

.sidebar {
  position: fixed;
  top: 13%;
  right: 10%;
  width: 100%;
  max-width: 300px;
  height: 400px;
  opacity: 0;
  background-color: #fffcfa;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.socials {
  color: black;
  font-size: 1.2rem;
}

@media screen and (max-height: 400px) {
  nav {
    padding: 1.5rem 3rem;
  }

  .sidebar {
    right: 15%;
    height: 320px;
    max-width: 250px;
    padding-bottom: 1rem;
  }
}


@media screen and (max-width: 350px){
  .sidebar {
    top: 10%;
    right: 5%;
  }
}

@media screen and (min-width: 768px) {
  nav {
    padding: 2.5rem 3rem;
  }

  .sidebar {
    top: 12%;
    right: 10%;
  }

  nav .logo {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1080px) {
  nav {
    padding: 2.5rem 5rem;
  }
}