.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#ffeae0, #fff1eb);
  padding: 2rem 1rem;
  width: 100%;
}

.skillDetails {
  text-align: center;
  margin-bottom: 2rem;
  padding-inline: 1rem;
}

.skillDetails p {
  width: 100%;
  max-width: 55ch;
  margin-top: 0.3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 964px;
  overflow: hidden;
}

.tabHeader {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabHeader li {
  cursor: pointer;
  user-select: none;
  margin: 1rem;
  width: 100px;
  color: #2d2d2d;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
}

/* .tabHeader li:focus {
  outline: none;
} */

.tabHeader li span.active {
  height: 2px;
  background: #f25c54;
  position: absolute;
  width: 100%;
  bottom: -8px;
  left: 0;
}

.hide {
  display: none;
}

@media screen and (min-width: 568px) {
  .tabHeader {
    justify-content: center;
  }
}
