.tabHeader {
  display: flex;
  align-items: center;
}

.tabHeader li {
  cursor: pointer;
  user-select: none;
  margin: 1rem;
  width: 100px;
  position: relative;
  text-align: center;
}

/* .tabHeader li:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(41, 39, 39);
} */

.tabHeader li span.active {
  height: 2px;
  background: black;
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.hide {
  display: none;
}



