.about {
  background: radial-gradient(#ffe0d1, #ffe3d6, #ffe7db);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.about .card {
  background: linear-gradient( #ffe7db, #ffe3d6);
  box-shadow: 0 0 10px 0 #e6c6b875;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
  align-items: center;
}

.aboutButton {
  color: white;
  margin-top: 1.5rem;
  padding: 1em 2em;
}

.aboutDetails {
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding-inline: 1rem;
  order: 1;
}

.aboutPlaceholder {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background: #fff;
  order: 2;
}

/* .aboutPlaceholder div {
  width: 100%;
  height: 250px;
  background: #fff;
  transform: rotate(-10deg);
} */

/* background: linear-gradient(to right, #f5f5f5, #f5f5f5); */

@media screen and (min-width: 768px) {
  .about .card {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    height: 70%;
    gap: 2rem;
  }

  .aboutDetails {
    text-align: unset;
    padding-inline: 0;
    order: 2;
  }
}
