.about {
  background: radial-gradient(#ffe0d1, #ffe3d6, #ffe7db);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.about .card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
  align-items: center;
}

.aboutButton {
  color: white;
  margin-top: 1.5rem;
  padding: 1em 2em;
}

.aboutDetails {
  width: 100%;
  text-align: center;
  order: 1;
}

.aboutPlaceholder {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background: radial-gradient(#e0e0e0, #ffeeee);
  order: 2;
  overflow: hidden;
}

.aboutPlaceholder img {
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .about .card {
    width: 78%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    min-height: 80%;
    gap: 1rem;
  }

  .aboutDetails {
    max-width: 480px;
    text-align: unset;
    padding-inline: 0;
    order: 2;
    position: relative;
    bottom: -70px;
  }

  .aboutPlaceholder {
    max-width: 300px;
    height: 300px;
    position: relative;
    top: -70px;
  }
}
