.detailsContainer {
  background: radial-gradient(#ffe0d1, #ffe3d6, #ffe7db);
  min-height: 100vh;
  padding: 7rem 1rem 2rem;
}

.detailsContainer p {
  text-align: justify;
}

.details {
  max-width: 768px;
  width: 100%;
}

.details h2 {
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  margin-bottom: 1.5rem;
}

.links {
  gap: 2rem;
}

.links a {
  gap: 1rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #2d2d2d;
  border-radius: 0.5rem;
}

.stack {
  gap: 0.5rem;
  margin-block: 0.6rem 1.5rem;
  flex-wrap: wrap;
}

.stack span {
  padding: 0.3rem 0.7rem;
  border-radius: 30px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    padding: 8rem 1rem 1rem;
  }

  .links a {
    padding: 0.65rem 1rem;
  }
}
