@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;700;800&family=Open+Sans:wght@400;500;700;800&family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background: linear-gradient(90deg, #00171f, #141301, #00120b);
  user-select: none;
  font-size: clamp(0.7rem, 4vw, 0.95rem);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #2d2d2d;
  line-height: 1;
}

h2,
h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: clamp(0.8rem, 4.1vw, 1rem);
  color: #2d2d2dc5;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-x {
  justify-content: center;
}

.align-y {
  align-items: center;
}

.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 5.5%;
  z-index: 999;
  background: #00120b;
  color: white;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.section {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }

  .section {
    height: 100vh;
    scroll-snap-align: start;
  }
}

@media screen and (max-height: 400px) {
  p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
