/* autoprefixer grid: autoplace */
@import 'normalize.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background: black;
  padding: 1em 2em;
  border: none;
  color: white;
}

.section {
  width: 100%;
  scroll-snap-align: start;
}

@media screen and (min-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }
  
  .section {
    height: 100vh;
    scroll-snap-align: start;
  }
}
